<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class='row'>
	<div class='col-md-12'>
		<div class='card'>
			<div class='card-body'>
				<div class="form-group row">
					<label for="example-month-input" class="col-2 col-form-label">Refrescar</label>
					 <div class="col-10">
						<select class="custom-select col-12" ng-model="timeout">
							 <option *ngFor="let arr of timeoutArray" value="{{arr}}">{{arr}} Segundos</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" >
    <!-- Column -->
    <div class="col-lg-2 col-md-2" *ngFor="let room of rooms">
        <div class="card">
			<div class="social-widget">
				<div class="soc-header" styke="height:64px">
					<img class="card-img-top img-responsive" *ngIf="room.state == 0" src="assets/images/door_closed.png" alt="Door Closed" />
					<img class="card-img-top img-responsive" *ngIf="room.state != 0" src="assets/images/door_open.png" alt="Door Closed" />
					<div class='row'>
						<div class="col-12 b-r">
							<h3 class="font-medium">Habitacion {{room.id}}</h3>
						</div>
					</div>
					<div class='row'>
						<div class="col-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn {{room.state == 1 ? 'btn-danger active' : 'btn-secondary '}} ">
									<input (click)="occupyButton(room.id)" type="radio" name="room-options-{{room.id}}" id="option1" autocomplete="off" [checked] = "room.state == 1">O
								</label>
								<label class="btn {{room.state == 0 ? 'btn-success' : 'btn-secondary'}}">
									<input (click)="emptyButton(room.id)" type="radio" name="room-options-{{room.id}}" id="option2" [checked] = "room.state == 0" autocomplete="off">H
								</label>
								<label class="btn {{room.state == 2 ? 'btn-primary' : 'btn-secondary'}}">
									<input (click)="cleanButton(room.id)" type="radio" name="room-options-{{room.id}}" id="option3" autocomplete="off" [checked] = "room.state == 2">L
								</label>
							</div>
						</div>
						<div class="col-3 b-r">
							<button (click)="checkoutButton(room.id)" class="btn btn-warning" type="button">V</button>
						</div>
					</div>
				</div>

			</div>
		</div>
    </div>
</div>
