<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class='row'>
	<div class='col-md-12'>
		<div class='card'>
			<div class='card-body'>
				<div class="form-group row">
					<label for="example-month-input" class="col-2 col-form-label">Refresh</label>
					 <div class="col-10">
						<select class="custom-select col-12" ng-model="timeout">
							 <option *ngFor="let arr of timeoutArray" value="{{arr}}">{{arr}} Seconds</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" >
    <!-- Column -->
    <div class="col-lg-6 col-md-6" *ngFor="let room of rooms">
        <div class="card">
			<div class="social-widget">
				<div class="soc-header" styke="height:64px">
					<img class="card-img-top img-responsive" *ngIf="room.door == 't'" src="assets/images/door_closed.png" alt="Door Closed" />
					<img class="card-img-top img-responsive" *ngIf="room.door == 'f'" src="assets/images/door_open.png" alt="Door Closed" />
					<div class='row'>
						<div class="col-12 b-r">
							<h3 class="font-medium">Habitacion {{room.state}}</h3>
						</div>
					</div>
					<div class='row'>
						<div class="col-9">
							<div class="btn-group" data-toggle="buttons">
								<label *ngIf="room.state == 1" class="btn btn-danger active">
									<input (click)="emptyButton(room.id)" type="radio" name="room-options-{{room.id}}" id="option1" autocomplete="off" checked> Occupied
								</label>
								<label *ngIf="room.state == 0" class="btn btn-info">
									<input (click)="occupyButton(room.id)" type="radio" name="room-options-{{room.id}}" id="option4" autocomplete="off"> Occupied
								</label>
								<label class="btn btn-secondary">
									<input type="radio" name="room-options-{{room.id}}" id="option2" autocomplete="off"> Empty
								</label>
								<label class="btn btn-success">
									<input type="radio" name="room-options-{{room.id}}" id="option3" autocomplete="off"> Cleaning
								</label>
							</div>
						</div>
						<div class="col-3 b-r">
							<button (click)="fourthButton(room.id)" class="btn btn-warning" type="button">Checkout</button>
						</div>
					</div>
				</div>
				
			</div>
		</div>
    </div>
</div>
