<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">86</h1>
                        <h6 class="text-muted">New Clients</h6></div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div class="display-4"><i class="mdi mdi-account-circle text-info"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
