<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row" >
    <!-- Column -->
    <div class="col-lg-2 col-md-2" *ngFor="let room of rooms">
        <div class="card">
			<div class="social-widget">
				<div class="soc-header" styke="height:64px">
					<img class="card-img-top img-responsive" *ngIf="room.status == 't'" src="assets/images/door_closed.png" alt="Door Closed" />
					<img class="card-img-top img-responsive" *ngIf="room.status == 'f'" src="assets/images/door_open.png" alt="Door Closed" />
					<div class='row'>
						<div class="col-12 b-r">
							<h3 class="font-medium">Habitacion {{room.id}}</h3>
						</div>
					</div>
				</div>
				<div class="soc-content">

					<div class="col-4 b-r">
						<button (click)="checkButton(room.id)" class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i> </button>
					</div>
					<div class="col-4 b-r">
						<button (click)="cancelButton(room.id)" class="btn btn-danger btn-circle" type="button"><i class="fa fa-times"></i> </button>
					</div>
					<div class="col-4 b-r">
						<button (click)="favouriteButton(room.id)" class="btn btn-warning btn-circle" type="button"><i class="fa fa-heart"></i> </button>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
