<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class='row'>
	<div class='col-md-12'>
		<div class='card'>
			<div class='card-body'>
				<div class="form-group row">
					<label for="example-month-input" class="col-2 col-form-label">Refresh</label>
					 <div class="col-10">
						<select class="custom-select col-12" ng-model="timeout">
							 <option *ngFor="let arr of timeoutArray" value="{{arr}}">{{arr}} Seconds</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" >
    <!-- Column -->
    <div class="col-lg-3 col-md-3" *ngFor="let room of rooms">
        <div class="card">
			<div class="social-widget">
				<div class="soc-header" styke="height:64px">
					<img class="card-img-top img-responsive" *ngIf="room.status == 't'" src="assets/images/door_closed.png" alt="Door Closed" />
					<img class="card-img-top img-responsive" *ngIf="room.status == 'f'" src="assets/images/door_open.png" alt="Door Closed" />
					<div class='row'>
						<div class="col-12 b-r">
							<h3 class="font-medium">Habitacion {{room.id}}</h3>
						</div>
					</div>
				</div>
				<div class="soc-content">

					<div class="col-3 b-r">
						<button (click)="checkButton(room.id)" class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i> </button>
					</div>
					<div class="col-3 b-r">
						<button (click)="cancelButton(room.id)" class="btn btn-danger btn-circle" type="button"><i class="fa fa-times"></i> </button>
					</div>
					<div class="col-3 b-r">
						<button (click)="favouriteButton(room.id)" class="btn btn-warning btn-circle" type="button"><i class="fa fa-heart"></i> </button>
					</div>
					<div class="col-3 b-r">
						<button (click)="fourthButton(room.id)" class="btn btn-success btn-circle" type="button"><i class="fa fa-user"></i> </button>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
